body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #222;
}

header {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 20px;
}
.search-box{
    text-align:center;
    margin:20px;
}

.search-box input{
    width:300px;
    max-width:80%;
    padding:10px;
    font-size:16px;
    border:2px solid #007BFF;
    border-radius:8px;
}

.search-box button{
    padding:10px 18px;
    margin-left:8px;
    background:#007BFF;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.search-box button:hover{
    background:#0056b3;
}
nav {
    background: #084298;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 12px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #084298;
}

footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
